
html {margin: 0; padding: 0; height:2000px;}
body {
margin: 0; padding: 0; height:100%;
}

.table{display: inline-block;}  
/*inline 엘리먼트처럼 전후 줄바꿈 없이 한 줄에 다른 엘리먼트들과 나란히 배치
width와 height 속성 지정 및 margin과 padding 속성의 상하 간격 지정이 가능*/
nav { border : 3px  double blue; font-weight : bold; 
  text-align:center;}
.navi {width:100%; text-align: center; }  
.navi {background-color:rgb(30,30,30) ; color:red;}
.navi th {   height:56px; padding:0; margin:20px; width:200px;	
}
.navi th a {   color:white;
}
.navi th a:hover {color:red; }
footer {
    border-radius: 20px;
    background-color: rgb(30,30,30);
    font-family: "휴먼편지체";
    font-size: 1em;
    width:100%;
    text-align:center;
}
footer li {list-style: none;}
footer li a:hover {color:red; }
footer li a { color:white; }

#wordnav h2{text-indent: 0em; //들여쓰기}
#wordnav {width:20%; float:left; //div가로(왼쪽)정렬}
#wordnav a:hover { color:red; }
section {  height: 90%; }
.content {width:100%; text-align: center;}      
.content table {width:100%; margin:7px;}
.content th {width:274px; margin:0 20px;}
.content th a img {width:274px; height:274px; }
.content th a:hover { color:red; }
.content th a:hover img { 
box-shadow : 12px 12px 2px 1px rgba(0, 0, 255, .2); // x, y , 흐림정도, 그림자 확장, 
opacity:0.8;
}
.content li p {height:46px; margin:7px 0 6px; line-height:20px;}

/*주식종목 정보 테이블*/
.infortable table, .infortable th, .infortable tr{ border : 1px solid black; border-collapse:collapse;}
/*border-collapse:collapse; 겹치는 테두리 제거*/
.infortable th { background-color : rgb(215,215,215);}




h1 {	display: inline-block;
	margin:0px;
	background-color:rgb(30,30,30);
            text-align: center;
            color:white;
            text-shadow: 2px 2px 4px blue;
	font-family: "휴먼편지체";
	font-size: 3em;
   	
        }
li { font-family: "휴먼편지체";}
p {
    font-family: "휴먼편지체";
}
h2{ 
            text-shadow: 2px 2px 4px blue;
	font-family: "휴먼편지체";
   	 text-indent: 2em; //들여쓰기
}
h3 {
    color: blue;
    text-shadow: 2px 2px 4px skyblue;
}
a {
    text-decoration: none;
}


